[tool.poetry]
name = "ziya"
version = "0.1.14"
description = ""
authors = ["Vishnu Krishnaprasad <vishnukool@gmail.com>"]
readme = "README.md"
include = ["templates/**/*", "pyproject.toml" ,"scripts.py"]
packages = [
    { include = "app" },
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
uvicorn = "^0.23.2"
pydantic = "<2"
jinja2 = "^3.1.3"
tiktoken = "^0.6.0"
boto3 = "^1.34.88"
langchain-aws = "^0.1.0"
langchain = "^0.1"
langchainhub = ">=0.1.15"
langchain-anthropic = "^0.1.4"
langchain-cli = ">=0.0.15"
pydevd-pycharm = "^241.15989.57"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
ziya = 'scripts:ziya'
dev = 'scripts:dev'
finstall = "scripts:frontend_install"
fstart = "scripts:frontend_start"
fbuild = "scripts:frontend_build"
